# Python
__pycache__/
*.pyc

# Virtual env & secrets
venv/
.env
.env.*

# Data (IMPORTANT)
data/
datasets/
raw_data/
processed_data/
backend/data 
# Common data formats
*.csv
*.tsv
*.json
*.parquet
*.pkl
*.h5
*.npy
*.npz
*.zip
*.tar
*.gz

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# Ignore all outputs
backend/agents/data_agent/outputs/*

# But keep the folder structure
!backend/agents/data_agent/outputs/.gitkeep
